<%- include('../includes/head.ejs') %>
	<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
			<%- include('../includes/primary-nav.ejs') %>
    <div class="container">
      <div class="row">
        <div class="col-md-5 mx-auto bg-dark rounded-lg pt-3 mt-lg-5">
          <!-- Error Alert -->
            <% if (errorMessage) { %>
            <div class="alert alert-danger alert-dismissible fade show " role="alert">
              <%= errorMessage %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
              <% } %>
              <!-- Login form -->
            <form action="/login" method="POST" novalidate>
                <div class="form-group">
                  <label for="email" class="text-light">Email</label>
                      <input class="<%= validationErrors.find(e => e.param === 'email') ? 'form-control is-invalid' : 'form-control' %>" type="email" name="email" placeholder="eg. johndoe@example.com" value="<%= oldInput.email %>">
                </div>
                  
                <div class="form-group">
                  <label for="inputPassword" class="text-light">Password</label>
                    <input type="password" class="<%= validationErrors.find(e => e.param === 'password') ? 'form-control is-invalid' : 'form-control' %>" name="password" placeholder="Password">
                </div>

                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="submit" class="btn btn-primary mb-3" value="Login">
              </form>
        </div>
      </div>
    </div>

		<%- include('../includes/end.ejs') %>