<%- include('../includes/head.ejs') %>
	<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
			<%- include('../includes/primary-nav.ejs') %>
    <div class="container">
      <div class="row">
        <div class="col-lg-5 mx-auto bg-dark rounded-lg pt-3 mt-lg-5">
          <!-- Error Alert -->
            <% if (errorMessage) { %>
            <div class="alert alert-danger alert-dismissible fade show " role="alert">
              <%= errorMessage %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
              <% } %>
              <!-- Login form -->
            <form action="/newpassword" method="POST">
              <div class="form-group">
                <label for="inputPassword" class="text-light">Password</label>
                  <input type="password" class="<%= validationErrors.find(e => e.param === 'password') ? 'form-control is-invalid' : 'form-control' %>" name="password" placeholder="Password">
              </div>

              <div class="form-group">
                <label for="confirminputPassword" class="text-light">Confirm Password</label>
                  <input type="password" class="<%= validationErrors.find(e => e.param === 'confirmPassword') ? 'form-control is-invalid' : 'form-control' %>" name="confirmPassword" placeholder="Confirm Password">
              </div>

                <input type="hidden" name="passToken" value="<%= passwordToken %>">
                <input type="hidden" name="userId" value="<%= userId %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="submit" class="btn btn-primary mb-3" value="Submit">
              </form>
        </div>
      </div>
    </div>

		<%- include('../includes/end.ejs') %>