
    <%- include('./includes/head.ejs') %>
  </head>

  <body class="bg-light">

    <%- include('./includes/admin-nav.ejs') %>
    
    <main role="main" class="container mt-lg-5">
      <h2 class="display-4 text-center"><% if(editing) { %> Edit Product <% } else { %> Add Product <% } %></h2>
      <% if (errorMessage) { %>
        <div class="alert alert-danger alert-dismissible fade show " role="alert">
          <%= errorMessage %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          <% } %>
        <form action="<% if(editing) { %><%= path %>/<%= product._id %>?editing=true<% } else { %><%= path %><% } %>", method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" id="title" name="title" placeholder="Title" value="<% if (hasError || editing) { %><%= product.title %><% } %>">
            </div>
            <div class="form-row">
                <div class="col">
                  <label>Image</label>
                    <input type="file" class="form-control" name="image" id="image">
                </div>
                <div class="col">
                    <label for="categoris">Categories</label>
                    <select class="form-control" id="categoris" name="categories">
                      <option value="shirt" <% if ((hasError || editing) && product.categories === 'shirt' ) { %> selected <% } %> >Shirt</option>
                      <option value="t-shirt" <% if ((hasError || editing) && product.categories === 't-shirt' ) { %> selected <% } %>>T-Shirt</option>
                      <option value="trouser" <% if ((hasError || editing) && product.categories === 'trouser' ) { %> selected <% } %>>Trouser</option>
                    </select>
                  </div>
                <div class="col">
                  <label>Price</label>
                  <input type="number" step=".01" class="form-control" name="price" placeholder="Price" value=<% if (hasError || editing) { %> <%= product.price %><% } %>>
                </div>
                <div class="col">
                    <label>Quantity</label>
                  <input type="number" class="form-control" name="quantity" placeholder="Quantity" value=<% if (hasError || editing) { %> <%= product.quantity %><% } %>>
                </div>
              </div>
            <div class="form-group mt-2">
              <label for="textarea">Description</label>
              <textarea class="form-control" id="description" rows="10" name="description" placeholder="Description" ><% if (hasError || editing) { %><%= product.description %><% } %></textarea>
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <% if(editing) { %> 
              <!-- When editing this hidden input with product id will be here. This will be used to check when the title of the product matches with a existing product if not then the title already used by another product and connot be used. -->
              <input type="hidden" name="productId" value="<%= product._id %>">
              <input type="submit" class="btn btn-warning mb-3" value="Update"> 
              <a href="/admin/delete-product/<%= product._id %>" class="btn btn-danger mb-3">Delete</a>
              <% } else { %> 
              <input type="submit" class="btn btn-primary mb-3" value="Submit"> 
              <% } %>
            
          </form>
    </main>
    
    <%- include('./includes/end.ejs') %>

