
    <%- include('./includes/head.ejs') %>
  </head>

  <body class="bg-light">

    <%- include('./includes/admin-nav.ejs') %>
    
    <main role="main" class="container mt-lg-5">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-dark rounded box-shadow">
          <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Welcome <%= user.fname %></h6>
            <small>User role</small>
          </div>
        </div>
  
        <div class="my-3 p-3 bg-white rounded box-shadow">
          <h6 class="border-bottom border-gray pb-2 mb-0">All Products</h6>
          <% for (let product of products) {%>
          <div class="media text-muted pt-3">
            <img src="/<%= product.imageUrl %>" alt="" class="mr-2 rounded" style="max-width: 4rem;">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
              <% if (user._id.toString() === product.userId.toString()) {%> 
                <a href="/admin/edit-product?editing=<%= product.title %>" class="d-block text-primary text-decoration-none"><%= product.title %></a>
                <%} else { %>
                  <span class="d-block text-dark"><%= product.title %></span>
                <% } %>
                <%= product.categories %> - Price: $<%= product.price %> - Quantity: <%= product.quantity %>
            </p>
          </div>
          <% } %>
        </div>
  
      </main>
    
    <%- include('./includes/end.ejs') %>

