<%- include('../includes/head.ejs') %>
	<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
			<%- include('../includes/primary-nav.ejs') %>
    <div class="container mt-lg-4">
			<h1 class="display-4 text-center">All Products</h1>
			<div class="row d-flex justify-content-between">
					<% for(let product of products) { %>
						<div class="card col-md-4 mb-lg-4" style="max-width: 20rem;">
							<a href="/product/<%= product.title %>"><img src="<%= product.imageUrl %>" class="card-img-top img-fluid mt-2" alt="..."></a>
							<div class="card-body d-flex align-items-start flex-column">
								<a href="/product/<%= product.title %>" class="card-title h5 text-primary text-decoration-none"><%= product.title %></a>
								<p class="card-text"><%= product.description %></p>
								<span class="mt-auto d-flex w-100">
									<form action="/cart" method="POST">
										<input type="hidden" name="_csrf" value="<%= csrfToken %>">
										<input type="submit" class="btn btn-danger" value="Add to Cart">
										<input type="hidden" name="productId" value="<%= product._id %>">
									</form>
									<small class="lead ml-auto">$<%= product.price %></small>
								</span>
							</div>
						</div>
					<% } %>
			</div>

    </div>

		<%- include('../includes/end.ejs') %>
