<%- include('../includes/head.ejs') %>
	<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
			<%- include('../includes/primary-nav.ejs') %>
    <div class="container mt-lg-5">
      <div class="row">
        <div class="col-md-6">
          <img src="/<%= product.imageUrl %>" alt="<%= product.title %>" class="img-fluid">
        </div>
        <div class="col-md-6 d-flex align-items-start flex-column">
          <span class="w-100">
            <div class="row w-100">
              <h2 class="col-md-10"><%= product.title %></h2>
              <div class="display-4 col-md-2">$<%= product.price %></div>
            </div>
              <small><%= product.categories %></small>
              <p class="paragraph"><%= product.description %></p>
          </span>
          <span class="mt-auto d-flex w-100">
              <a href="#" class="btn btn-danger">Add to cart</a>
            </span>
        </div>
        <div class="row text-center w-100 mt-4">
          <span class="col-12"><h3>Will add a review section here later</h3></span>
        </div>
      </div>
    </div>

		<%- include('../includes/end.ejs') %>
